[2020-09-18 16:30] henry090 opened #15 "Add Kaggle API"

[2020-09-22 16:03] henry090 commented on #15
Done.

[2020-09-22 16:03] #15 closed

[2020-10-09 18:44] henry090 opened #39 "Add automl"
We could add auto ml for tabular data like in ```h2o```.

[2020-10-09 18:49] henry090 commented on #39
Moves to #40

[2020-10-09 18:49] #39 closed

[2020-10-09 18:49] henry090 opened #40 "Add automl feature"
We could add auto ml for tabular data like in ```h2o.automl```.

[2020-10-21 13:00] zigzagthad commented on #40
Hi,
Do you mind if I take this up?

[2020-10-21 15:53] henry090 commented on #40
That would be great! My idea is to tune parameters via Bayesian Optimization like in this [notebook](https://github.com/muellerzr/Practical-Deep-Learning-for-Coders-2.0/blob/master/Tabular%20Notebooks/02_Bayesian_Optimization.ipynb). Later, store and print models from highest to lowest score as in h2o. Could you share your idea, please?

[2020-10-21 18:43] zigzagthad commented on #40
That's pretty much it from me as well. After all, doing Random Search or Grid Search isn't an option here because of the large search space so I think Bayesian Search is the way forward.

[2020-10-31 06:10] henry090 opened #47 "Fastai>=2.1"
Breaking changes since fastai >= 2.1 which requires torch >= 1.7. Needs to be fixed.

[2020-10-31 11:11] #47 closed

[2020-11-03 10:23] henry090 opened #54 "check summary of vision models"
Cannot print the summary of vision models. Throws error.

[2020-11-03 10:52] #54 closed

[2020-11-04 07:40] henry090 opened #55 "class with Module module"
Python wrapper functions definition issue. https://github.com/rstudio/reticulate/issues/869

[code]

[code]

[2020-11-05 08:18] henry090 opened #56 "Check/test"
We need tests for:

- Shapinterp
- Timm model tests/load
- GAN test
- CycleGAN
- Collaborative filtering
- installation with ```install_fastai```

Basic tests are enough for now.

[2020-11-05 17:40] #56 closed

[2020-11-08 07:47] henry090 opened #59 "Tensor"
How to slice tensors from R?

[2020-11-08 10:53] henry090 commented on #59
Done. Within ```E(tensor)``` function users can evaluate tensors.

[2020-11-08 10:53] #59 closed

[2020-11-08 10:58] henry090 opened #60 "Examples"
We need to have examples for:

- tensor slicing
- layers parameters modification (in-place)
- update audio Rmd file
- replace values inside tensors

[2020-11-08 21:31] #60 closed

[2020-11-09 18:06] henry090 opened #63 "Number of workers"
Data loaders with ```num_workers``` arguments have to be set by default to ```0L``` for Windows.

[2020-11-09 18:10] #55 closed

[2020-11-10 17:02] #63 closed

[2020-11-13 09:52] henry090 opened #65 "Hugging face"
Hugging face for fastai. In addition, please add an example!
Works for Mac and Linux!

[2020-11-13 19:12] henry090 opened #66 "Add NLP examples"
A lot of examples need to be added for NLP:
- From Kaggle to local, multilabel classification
- Question answering
- etc.

[2020-11-13 19:16] henry090 opened #67 "CycleGAN example"
Download zebra/horse video from youtube. With ```magick``` extract frames. And, finally, train the model.

[2020-11-14 10:24] henry090 opened #68 "Colab"
Is it possible somehow to work on Colab from RStudio? (GPU)

[2020-11-18 07:17] henry090 opened #71 "GPU device for Data_Loaders"
If cuda is available place it to ```cuda```.
Example:

[code]
https://henry090.github.io/fastai/articles/low.html

[2020-11-18 09:45] henry090 commented on #71
Done

[2020-11-18 09:45] #71 closed

[2020-11-22 06:58] henry090 commented on #66
Done

[2020-11-22 06:58] #66 closed

[2020-11-25 13:15] henry090 commented on #65
Done

[2020-11-25 13:15] #65 closed

[2020-12-02 15:55] henry090 commented on #68
It is not free.
https://docs.rstudio.com/ide/server-pro/1.4.1021-2/vs-code-sessions-preview.html
https://blog.rstudio.com/2020/11/16/rstudio-1-4-preview-server-pro/

[2020-12-02 15:55] #68 closed

[2020-12-03 19:01] henry090 opened #78 "fastaudio"
fastaudio causes an issue while installing in Windows.

[2020-12-03 19:40] henry090 opened #79 "CRAN 2.0.2"
Fix all the issues and submit fastai 2.1.5.

2.1.8 has a lot of bugs:
- medical, read dcm
- shap, fastinference
- summary of the model

[2020-12-03 19:41] henry090 commented on #78
Test it locally for Windows. same error?

[code]

[2020-12-05 09:03] henry090 commented on #78
Yes, it fails both local and GA Windows

[2020-12-08 18:15] henry090 opened #81 "Add Neural Prophet to fast.ai from R"
We need to add Neural Prophet to the R wrapper when this will be fixed:

https://github.com/ourownstory/neural_prophet/issues/179

[2020-12-09 00:06] ourownstory commented on #81
has been fixed in #194, however, there may be unnecessary warnings until torch 1.8.0 arrives.

[2020-12-09 10:32] #78 closed

[2020-12-09 14:14] henry090 commented on #79
Done

[2020-12-09 14:14] #79 closed

[2020-12-21 12:10] henry090 opened #87 "Core callbacks"
Core callbacks are not implemented from the R side:

https://docs.fast.ai/callback.core.html

[2020-12-21 19:43] henry090 opened #89 "Object Detection module"
We need to add the object detection Icevision https://github.com/airctic/icevision for ```fast.ai``` from R.
- [x] Parser
- [x] Dataset
- [x] Transforms
- [x] Models
- [x] Data Splitters
- [x] Add object detection Example

[2020-12-22 11:24] Cdk29 opened #90 "To_fp16()"
There is one callback describe here : https://docs.fast.ai/callback.fp16.html
Details here : https://docs.fast.ai/callback.fp16.html#Learner.to_fp16

It allow to use less GPU when training a CNN.
The book describe the use of the method when creating the learner, but it can also be used on the learner directly.
Running it in R however create a bug, and I don't see how to use it.

Precisely :
[code]

[2020-12-22 11:31] henry090 commented on #90
Hi.
This works for me:

[code]

[2020-12-22 12:36] Cdk29 commented on #90
@henry090 that is odd.

I got it to works. Below to full code from rmarkdown that created the bug :

[code]

[code]

[code]

[code]

num_workers=0 is mandatory to not have the error "RuntimeError: DataLoader worker (pid(s) 482) exited unexpectedly".

[code]

[code]

To save computation power :

[code]

[code]

[code]

[code]
Here what was creating the bug :

`device = 'cuda', ` inside the call to

[2020-12-22 12:43] henry090 commented on #90
Could you share session info as well, please?

[2020-12-22 12:46] #87 closed

[2020-12-22 12:46] Cdk29 opened #91 "Potenial ploting issue inside Rstudio"
Hi again.

Running the following :
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

I can knit and got a md document with the graphs. However, running the cells of the rmarkdown document will not output anything below the line Or inside the plots panels. (while it will happen with keras for example).

I do not know for sure if this is a local config problem, or a cha

[2020-12-22 12:51] Cdk29 commented on #90
@henry090 here it is :

[2020-12-22 12:52] Cdk29 commented on #91
Session info :

[2020-12-22 13:09] henry090 commented on #91
Thanks, I am using the following package ```grid``` and it has an issue with rmarkdown. This is why you cannot see them (graphs/plots) while executing a cell

[code]
If you have a library that works for Mac, Linux, Windows we can switch to it.

[2020-12-22 13:13] henry090 commented on #90
Could you install reticulate from Github (then restart RStudio). Then remove ```num_workers``` argument and run again, please? Kevin from RStudio fixed that issue with reticulate.

[2020-12-22 13:17] Cdk29 commented on #90
Okay. With or without `device = 'cuda'` ?

[2020-12-22 13:18] henry090 commented on #90
If you have Cuda, skip that as well.

[2020-12-22 13:23] Cdk29 commented on #90
Okay. I wait for the current test to finish and then I will run it with the requested changes on more epoch.
I will add the link to the md document with the session infos when it will have finish running.

[2020-12-22 16:50] Cdk29 commented on #90
@henry090 it works perfectly : https://github.com/Cdk29/Cassava/blob/main/trying-resnext-with-r-and-fastai.md

[2020-12-22 16:51] Cdk29 commented on #91
If I come up with an idea I will PR.

[2020-12-22 19:31] henry090 opened #92 "Update examples"
No more custom installation of fast audio and other minor issues.

[2020-12-23 06:43] henry090 opened #93 "num workers for Dataloaders"
If !os=="linux", num_workers always == 0. Fix for all data loaders, e.g. image laoders

[2020-12-23 06:46] henry090 commented on #90
I close this issue, then. If you face an issue, again, please reopen.

[2020-12-23 06:46] #90 closed

[2020-12-23 07:47] henry090 commented on #93
@Cdk29 There could be potential issues with ```num_workers``` in different data loaders. They all need to be set to 0 if the os is windows or mac. Below is how I do that:

https://github.com/henry090/fastai/blob/a34f08cfa667c179f8b5cd6554d4396cca704942/R/vision_core.R#L551-L561

If you have time and would like to contribute more, that would be great/helpful! =)

[2020-12-23 07:49] henry090 opened #95 "NULL args in lists"
If the argument in the list is null remove it. For example

[code]

[2020-12-23 07:55] Cdk29 commented on #93
Hehe. So basically add this lines of codes inside the other dataloaders ?

[2020-12-23 08:01] henry090 commented on #93
Actually, yes. Because without this, the tests for mac and windows hang or fail. See test here: https://github.com/henry090/fastai/blob/master/tests/testthat/test-nn_module.R
In this part, the Tfdml contains above-mentioned part. Therefore, tests are successful. https://github.com/henry090/fastai/blob/a79a21930432c683d7d28eefd6b0a6050d11bc45/tests/testthat/test-nn_module.R#L31-L32

[2020-12-23 11:23] Cdk29 commented on #93
Okay. Today I will be a bit short for this, but in the next days I can do it.

[2020-12-23 12:46] henry090 commented on #89
There are a lot of augmentation ops.

[2020-12-23 14:00] Cdk29 opened #96 "Missing vision models"
@henry090 I just realized that some models are missing from fastai :

https://docs.fast.ai/vision.models.xresnet.html

Namely all the models such as xse_resnext50.

I could add them too if you don't mind.

[2020-12-23 14:04] henry090 commented on #96
That would be great!

[2020-12-24 10:35] #96 closed

[2020-12-24 12:40] Cdk29 opened #99 "Suppression of bs_finder.cpython-36.pyc. 🐞"
@henry090 Last [commit](https://github.com/henry090/fastai/commit/06e55ee00a1dff80335919980869a94f7610c6e8) introduced the suppression of inst/python/fastaibuilt/__pycache__/bs_finder.cpython-36.pyc.

I was getting a merging error because of this file, I though I merged the new one of the  henry090 / fastai master branch here in my fork.

I do not know how this file is generated in the first place

[2020-12-24 12:56] henry090 commented on #99
You can skip this file. It does not affect anything.

[2020-12-24 13:01] Cdk29 commented on #99
Good to know. I was just worried about this. Thanks.

[2020-12-24 13:01] #99 closed

[2020-12-25 12:39] Cdk29 opened #101 "Error related to magma during training"
@henry090 : I am trying to train a xse_resnet50.

During training I got the following error :

It is not a simple out of memory error, it seems to be some kind of memory leak related to magma, [similar to related here](https://github.com/pytorch/pytorch/issues/26120).

**But : I did not find any mention of this bug occurring with fastai,** which I would have expect if this thing occurred recurrent

[2020-12-25 12:54] Cdk29 commented on #101
I am trying without the $to_fp16() to see if the error came from there.

[2020-12-25 13:46] henry090 commented on #101
I get the following with ```to_fp16```:

[code]

[2020-12-25 17:18] Cdk29 commented on #101
Weird. You don't have a GPU ?

I tried without the $to_fp16() but I just got a classic out of memory error. A first glance it does seems to came from that.

With $to_fp16() the full error message looks something like this :
[code]
Any idea on what could happen ?

[2020-12-25 17:31] Cdk29 commented on #101
@henry090 : I wonder if it is not a more general memory leak issue as the GitHub issue I linked in the first post suggest. My technical background is light on that matter. (/pytorch/issues/26120)

If so, I am not sure what are the models affected. My guess is that happen on every models but got visible only on the one that require a lot of GPU computation such as the XSE_resnext. Or maybe a specif

[2020-12-25 17:31] henry090 commented on #101
I probably installed the cpu version. Regarding your question I advise to
run similar code from python side and see if it works. Btw, did it work
without fp16?

On Fri, Dec 25, 2020, 9:19 PM Cdk29 <notifications@github.com> wrote:

[2020-12-25 17:35] Cdk29 commented on #101
Same without fp16. Memory error but only after few epoch (!) and I got the same traceback/error if I look into the log.

Looks like a memory leak. I will try with a smaller batch. Or do a really quick and dirty training on 3 epochs before saving the model and restarting in an other kernel.

[2020-12-25 17:46] henry090 commented on #101
I reintalled fastai and now it works fine with batch size == 10. This is the result for 1 epoch:

[code]

[code]

[2020-12-25 17:48] henry090 commented on #101
This is my full code:

[code]

[2020-12-25 17:49] Cdk29 commented on #101
Yes. To me it happen only after some epochs, whether it is on my local computer or kaggle.

[2020-12-25 17:53] henry090 commented on #101
I think it is a CUDA error. So, it is not related to the wrapper, IMO. Kaggle output also tells that:

[code]
You could try to skip lr_find and see if it might work without that.

With sample data it works fine:
[code]

[2020-12-25 17:59] Cdk29 commented on #101
Yes. I just got suspicious because of the only report saying that it was because the guy was making everything into a function. Actually it might have triggered the leak quicker since report that they have to reboot their computer to clear the memory.

I let you close the issue, maybe people will come around if they have this error and see it is a maybe memory leak.

[2020-12-28 07:13] henry090 commented on #93
Hi, I currently have time to fix the issues. If you haven't yet started working on this, I can take it.

[2020-12-28 07:25] Cdk29 commented on #93
@henry090 yes sorry, I did not got time to start working on this. You can take it.
I will do a PR later today but for something related for fine tuning.

[2020-12-28 13:46] henry090 commented on #93
Done

[2020-12-28 13:46] #93 closed

[2020-12-28 13:47] henry090 commented on #95
partially fixed

[2020-12-28 13:47] #95 closed

[2021-01-06 14:12] stevebit opened #105 "Can't download using URLs_ADULT_SAMPLE"
Hi,
I receive the following error when I try to download the data using URLs_ADULT_SAMPLE().

Error: $ operator is invalid for atomic vectors

Can somebody please assist

[2021-01-06 14:20] henry090 commented on #105
Hi Steve. Did you follow our installation guide on the top of the readme https://github.com/henry090/fastai ?

[2021-01-06 14:39] stevebit commented on #105
Yep, I followed the installation steps 1 to 4.  It also looks like the fastai library loads correctly.  I'm currently installing in on MacOS High Sierra and using the following R version.

platform       x86_64-apple-darwin15.6.0
arch           x86_64
os             darwin15.6.0
system         x86_64, darwin15.6.0
status
major          3
minor          6.2
year           2019
month          12
day

[2021-01-06 15:14] henry090 commented on #105
Could you install the library from GitHub and see the output of  ```fastai::fastai_version()```

[2021-01-06 15:27] stevebit commented on #105
Error: Python module fastai was not found.

Detected Python configuration:

python:         /opt/anaconda3/envs/python37/bin/python
libpython:      /opt/anaconda3/envs/python37/lib/libpython3.7m.dylib
pythonhome:     /opt/anaconda3/envs/python37:/opt/anaconda3/envs/python37
version:        3.7.6 (default, Jan  8 2020, 13:42:34)  [Clang 4.0.1 (tags/RELEASE_401/final)]
numpy:          /opt/anaconda3

[2021-01-06 15:45] henry090 commented on #105
Try to find with reticulate the python in which you installed fastai. And then set that python with reticulate use python (required=TRUE)

[2021-01-07 12:23] stevebit commented on #105
got it working thanks for you help.  It required me to install fastai for python a few times.

[2021-01-07 12:29] henry090 commented on #105
Glad, that you could fix your issue!

[2021-01-07 12:29] #105 closed

[2021-01-07 14:48] henry090 commented on #101
Hi. Did you manage to solve this issue?

[2021-01-07 17:10] Cdk29 commented on #101
@henry090 Hi! Yes and no. The issue cannot be solved per se directly. But I managed to train such a big network by splitting it across a lot of notebooks on kaggle (probably works the same for a computer). It is a version of starting and stopping a computer to clean the memory solve the memory leak on the GPU.

[2021-01-07 17:22] Cdk29 opened #106 "Error when using model$export()"
When training a model like [in this notebook](https://github.com/Cdk29/Cassava/blob/main/Bug_method_export.Rmd) or [here (md doc to got the session infos)](https://github.com/Cdk29/Cassava/blob/main/Xresnet.md).

I got the following error from python :
[code]

When I am running :

`learnR$export(fname = export.pkl)`

The error message came from the first notebook. The second md document provide th

[2021-01-08 07:51] henry090 commented on #106
Thanks so much for this issue. I fixed that. However, could you write the metric like this: ```accuracy()``` not ```accuracy``` and see if this will work for you.

[2021-01-11 09:40] #89 closed

[2021-01-11 09:41] #40 closed

[2021-01-13 08:47] #92 closed

[2021-01-14 00:47] mubashirqasim opened #109 "fastai loading error"
Hi there,

Thanks for great work to bring fastai to R.

In step two, after installing fastai from git hub, I am getting the following error when I try to load the library.

[code]

Error: package or namespace load failed for ‘fastai’ in get(method, envir = envir):
 lazy-load database 'C:/R-libraries/fastai/R/fastai.rdb' is corrupt
In addition: Warning message:
In get(method, envir = envir) : inter

[2021-01-14 06:04] henry090 commented on #109
Hi @mubashirqasim . Please restart RStudio after installation.

[2021-01-17 12:10] Cdk29 commented on #106
Sorry for the delay, I go into this as soon as I can.

[2021-01-20 07:16] Cdk29 commented on #106
@henry090 I run it with accuracy() and it worked perfectly.

[2021-01-20 07:16] #106 closed

[2021-01-25 09:06] Cdk29 opened #111 "TPU and the fastai wrapper"
Hi,

I was thinking on the how to train xse-resnext-50 in R without going out of memory. Huge networks like this seems to be trained in Pytorch using TPU on Kaggle.

Fastai does not handle directly TPU but there is some wrapper : https://github.com/butchland/fastai_xla_extensions
Example here : https://www.kaggle.com/johnyquest/tpu-fastai-notebook

I put this as a feature request and a reminder to

[2021-01-25 10:16] henry090 commented on #111
Hi, It is a valuable feature request!
We can add this to the wrapper. However, we won't be able to test it. In addition,
Is TPU available for R in Kaggle notebooks? For Colab, the answer is "Yes".

[2021-01-25 10:34] Cdk29 commented on #111
I am inside a R notebook and do not see TPU as an accelerator. But I was pretty sure I have seen some TPU for R notebooks.

It is really odd. Probably I have hallucinated or made a weird association : now we can push R kaggle notebook to google collab also, as do Python notebooks. So maybe we can use TPU on it

[2021-01-25 10:36] henry090 commented on #111
Sure! First, we need to create a wrapper around TPU.

Around 1 year ago I asked the Kaggle team about that (TPU request) but it seems it is still not added there.

[2021-01-26 20:13] #111 closed

[2021-01-28 06:55] henry090 opened #113 "Colab TPU example"
We need to add a TPU example on Colab. Then add a ref link to the readme file

[2021-01-29 12:29] henry090 commented on #113
@Cdk29 Hi here is an example. It worked fine. Very soon, I will submit the next release to CRAN (tpu support). https://colab.research.google.com/drive/1PiBECDM552No-5apVIB8LqUSdSqqJSi-?usp=sharing

[2021-01-29 12:29] #113 closed

[2021-01-29 12:37] Cdk29 commented on #113
Oh nice. Sorry I am not really reactive, most of my coding time goes into the cassava comp. I am glad to see this, I think I will use it for some Knoledge Distillation approach :-)

[2021-01-29 16:32] Cdk29 opened #114 "Export in the wrong place ?"
I am not 100 % sure it is a bug.

Running code from here : https://github.com/Cdk29/Cassava/blob/main/Xresnet.md

Particularly :

I create the learner using :

`learnR <- dataloader %>% cnn_learner(xresnet50(), metrics = accuracy(),  model_dir="Xresnet_files/") #prettier
`

But fastai export it elsewhere :

`erolland@erolland-GL75-9SE:~/Bureau$ locate xresnet_50.pkl`

I am not sure but I don't thi

[2021-01-29 16:35] Cdk29 opened #115 "load_learner does not seems to exist"
load_learner() is the function that allow to load a model that has been exported. It does not seems to exist in the wrapper :

Source : https://docs.fast.ai/learner.html#load_learner

[2021-01-29 17:06] henry090 commented on #115
Yes, Could you open a PR for that?

[2021-01-29 17:10] henry090 commented on #114
Could you do the same but with python and see that works as you intended? However, here is the path argument, could specify ur path here, as well? https://github.com/henry090/fastai/blob/a37c463c7ab9494729089924ac0f933439730651/R/image_loaders.R#L368-L373

[2021-01-29 17:20] Cdk29 commented on #114
Sorry I did not understood, my post was not maybe perfectly clear.

The export is made here :

`learnR$export(fname = "xresnet_50.pkl")`

Since the learner is created like this :

` model_dir="Xresnet_files/")`

I expected the exported model to go in the model directory.

[2021-01-29 17:20] Cdk29 commented on #115
I can try. It is as simple as for freeze methods ?

[2021-01-29 17:26] henry090 commented on #114
Yes, I got it. I am not sure why. Could you run this code from the python side? If it works fine (same folder), then I can take a look

[2021-01-29 17:27] henry090 commented on #115
I think, yes, it should be easy. But please write/add a test. So, we will be sure that it won't fail.

[2021-01-30 14:56] Cdk29 commented on #115
Okay, you can assign me to this if you are not in a big hurry.

[2021-02-01 23:51] oliviergimenez opened #116 "Load a model saved with SaveModelCallback?"
Thank you very much for an awesome and much needed package. I'm saving a model after each epoch using SaveModelCallback
[code]
Say I'm using a new session, and that I'd like to start from the latest model. Is there a way to load this last model with extension .pth that I stored previously? I guess my question is related to issue #115 I've just seen.
Thanks in advance.

[2021-02-02 06:34] henry090 commented on #116
Hi @oliviergimenez. You can restore the model from a fresh R session without training:
[code]

[2021-02-02 12:16] oliviergimenez commented on #116
Embarassingly simple, and works like a charm, thanks a lot !

[2021-02-02 12:16] #116 closed

[2021-02-14 14:20] henry090 commented on #109
If you still face the same issue, please reopen.

[2021-02-14 14:20] #109 closed

[2021-02-14 14:20] #67 closed

[2021-02-21 15:44] henry090 opened #117 "New tutorials"
Add Bayesian Optimization tutorial with fast.ai

[2021-02-24 15:25] EngrStudent opened #118 "Error with pycocotools"
Please briefly describe your problem and what output you expect.
I got the following error when trying to install the fastai package using r.

I think it wants to convince me to purchase Microsoft Visual C++ 14.0, but that is not in my budget.  I'm still paying off my student loans.  (@Michael Nikkhoo)

My command was:
fastai::install_fastai(gpu = FALSE, cuda_version = '10.1', overwrite = FALSE)

[2021-02-24 18:44] jesuiskelly opened #119 "Error in py_call_impl"
Hello, I followed this tutorial: https://henry090.github.io/fastai/articles/multilabel.html

And hit an error when I ran this line: learn %>% summary()

Error in py_call_impl(callable, dots$args, dots$keywords) :
  ValueError: not enough values to unpack (expected 5, got 4)

Detailed traceback:
  File "/mnt/hdd/Z_NLP_Classifier/07_Test_03/02_Code/renv/python/r-reticulate/lib/python3.6/site-package

[2021-02-25 15:01] henry090 commented on #118
Could you try these answers and let me know, please? https://docs.microsoft.com/en-us/answers/questions/136595/error-microsoft-visual-c-140-or-greater-is-require.html

[2021-02-25 15:04] henry090 commented on #119
Please, try this ```reticulate::py_install('fastai==2.2.7 ohmeow-blurr',pip = T)```
Restart and rerun again. It worked for me.
Predictions can be obtained: ```learn %>% predict("Those damned affluent white people should only eat their own food, like cod cakes and boiled potatoes.
No enchiladas for them!") %>% .[[1]] %>% as_array()
[code]

[2021-02-28 17:31] jesuiskelly commented on #119
Thanks for getting back to me. Happy to raise a PR afterwards.

I tried the line of command and it worked, but somehow Rstudio froze when I
ran the predict command. I'm trying to uninstall and reinstall and see if
this would help. Will report back later.

Thank you!
Kelly

On Thu, Feb 25, 2021 at 3:04 PM Turgut <notifications@github.com> wrote:

[2021-03-02 12:40] #117 closed

[2021-03-02 14:58] henry090 commented on #119
Do you use CPU/GPU for prediction? CPU can cause issues

[2021-03-02 15:10] henry090 commented on #101
Were you able to train the model with TPUs on Colab?

[2021-03-02 15:24] Cdk29 commented on #101
Sorry I did not had the opportunity to train a big model for the last competition on kaggle, next time if I am not struggling too much with other aspect of the competition.

[2021-03-02 18:39] jesuiskelly commented on #119
Hi oh that’s a good point! We have CPU :(

Is there a way we can make it work?

And sorry not got round to try after re-installation as it’s full on at work at the moment.

Kelly

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Turgut <notifications@github.com>
Sent: Tuesday, March 2, 2021 2:59:13 PM
To: henry090/fastai <fastai@noreply.github.com>
Cc: jesuiskelly

[2021-03-04 06:21] henry090 commented on #119
I think you could run your case on Colab. Here is an example how to set up fast.ai there https://colab.research.google.com/drive/1PiBECDM552No-5apVIB8LqUSdSqqJSi-?usp=sharing

[2021-03-04 22:54] fsame opened #121 "Error in preprocessing (proc) in Rstudio"
Hi,
I tried to run the tabular learner from rstudio. Running **procs = list(FillMissing(),Categorify(),Normalize()),** I get the following error: Error: $ operator is invalid for atomic vectors. Is there a fix for that? Thanks.

[2021-03-05 05:20] henry090 commented on #121
Hi, Did you try to install ```fast.ai``` following the procedure in readme file? https://github.com/henry090/fastai#installation

[2021-03-05 05:26] henry090 opened #122 "Pretty installation"
Can we make the installation of fast.ai prettier? e.g:

[code]
In case of error, try-catch and return them for debugging.
At the end print the python path, so the user can figure out which python was used for installation.

[2021-03-05 13:42] henry090 opened #124 "bs_find"
bs_find for tabular data does not work with fast.ai==2.2.7:

[code]

[2021-03-05 13:53] henry090 opened #125 "predict dicom data"
dicom test does not work with fast.ai==2.2.7:

[code]

[2021-03-05 14:18] henry090 opened #126 "fix github actions"
Fix Github Actions for the dev version of fast.ai (Github version)

[2021-03-07 16:02] fsame commented on #121
Thanks a lot for your quick reply. I followed the procedure now, and it works perfectly. Thanks.

[2021-03-07 22:34] jesuiskelly commented on #119
Great thank will have a look soon! And sorry for the delay in getting back
to you --in the middle of a project, so hopefully come back to this in the
next two weeks.
Thanks!
Kelly

On Thu, Mar 4, 2021 at 6:21 AM Turgut <notifications@github.com> wrote:

[2021-03-09 08:42] #121 closed

[2021-03-11 16:49] houndcl opened #128 "AttributeError: module 'fastai.vision.gan' has no attribute 'unet_config'"
I am using this tutorial for super resolution Unet model. https://cran.r-project.org/web/packages/fastai/vignettes/super_res_gan.html. However, the `create_gen_learner` function resulted in `Error in py_get_attr_impl(x, name, silent) : AttributeError: module 'fastai.vision.gan' has no attribute 'unet_config'` error. The basic Unet without `unet_config` argument works fine. https://github.com/henry

[2021-03-11 17:31] henry090 opened #129 "Mac OS fastai"
fast.ai for Mac OS installs first torch 1.8 then 1.7.1. We need to install pkgs separately, so unnecessary installation will not be required. First, install fastai (try).

[2021-03-11 17:45] henry090 commented on #128
Hi. Thanks for letting me know. From the python side, the tutorial is here. And as far as I understand, this function is no longer in fast.ai. https://github.com/fastai/fastai/blob/master/dev_nbs/course/lesson7-superres.ipynb

[code]

This could be in another place but I am not sure.

[2021-03-11 18:18] houndcl commented on #128
Thanks. https://github.com/fastai/fastai/commit/eaa588fdc1efdfdd4a3c1dcae1895add10f223a7#diff-fa360114e1afbe049ed12f6aa92ac3945ceca61d72d73cec953217ddf602a1aa `unet_config` have been changed to `create_unet_model`. Based on my quick reading, it seems right now you can pass the arguments directly to `unet_learner` without calling `unet_config` or `create_unet_model` (please confirm!).

[code]

[2021-03-11 19:17] henry090 commented on #128
I think you are right. We need to add this ```create_unet_model```, as well. I can add this. However, if you have time and would like to PR, that would be great!

[2021-03-14 18:21] #122 closed

[2021-03-14 18:28] henry090 commented on #118
Please, reopen this issue if you still face this issue.

[2021-03-14 18:28] #118 closed

[2021-03-14 18:48] henry090 commented on #125
works from the python side! https://colab.research.google.com/drive/1s9W8W-5pg7FIIUBVO7KzNoFVOZ_axzdO?usp=sharing

[2021-03-14 18:56] #115 closed

[2021-03-14 18:56] #126 closed

[2021-03-14 18:56] #128 closed

[2021-03-14 18:56] #129 closed

[2021-03-15 08:18] henry090 opened #131 "customize a loss function (e.g., vgg16)"
dice loss & feature loss, but a general way to customize the loss function will be better. https://github.com/fastai/fastai/blob/master/dev_nbs/course/lesson7-superres.ipynb https://kaggle.com/bigironsphere/loss-function-library-keras-pytorch

[2021-03-16 07:53] henry090 commented on #125
fixed in the dev version. https://github.com/fastai/fastai/issues/3250

[2021-03-16 07:53] #125 closed

[2021-03-21 12:00] #131 closed

[2021-03-28 06:37] henry090 opened #133 "Colab and fast.ai"
Can we make the model training interactive in Colab. Image plotting is not good.

[2021-04-17 10:53] henry090 commented on #119
Please, reopen if you still face issues.

[2021-04-17 10:53] #119 closed

[2021-04-17 11:53] #124 closed

[2021-04-17 11:53] #133 closed

[2021-04-17 11:55] Cdk29 opened #135 "Potential error in TextBlock_from_df ?"
Hi. I am not sure why but I got trouble running TextBlock_from_df().
I have a data.table looking like the following :

I am trying to run :

[code]
According to the example here https://docs.fast.ai/text.data.html#TextBlock.from_df and here : https://github.com/EagerAI/fastai#text-data and the fastai books.

But I also tried directly :

`data_block = DataBlock(blocks = list(TextBlock_from_df(text_

[2021-04-17 11:59] Cdk29 commented on #135
Just realized that I am installing fastai with the install.package. I am retrying with devtools and install from github.

[2021-04-17 12:21] henry090 commented on #135
Hi, could you remove fastai and reinstall, please? I would remove the existing py env or install to the new one.

[2021-04-17 12:23] Cdk29 commented on #135
I am running the following and got the same error :

[code]

*Error: $ operator is invalid for atomic vectors
Traceback:

1. TextBlock_from_df(text_cols = "text_article")
2. do.call(text()$TextBlock$from_df, args)

@henry090 I am try to do this on kaggle ^^ do you want to access the notebook?

[2021-04-17 12:28] henry090 commented on #135
Yes, please. But I can take a look in a couple of hours.

[2021-04-17 12:29] Cdk29 commented on #135
No problem I am not in a hurry with this.
Done !

[2021-04-19 08:36] Cdk29 commented on #135
Looking the tutorial here : https://docs.fast.ai/tutorial.text.html

I tried to run :

`text<-reticulate::import("fastai.text.all")`

Which gave :

I have put it in the notebook where I have added you as a collaborator if you want to take a look.

[2021-04-19 13:09] Cdk29 commented on #135
Running :

`reticulate::virtualenv_install(packages="fastai")`

Solved the issue of :

`text<-reticulate::import("fastai.text.all")
`
Trying to create a datablock like this :

[code]

Does not raise any errors any more after installing fastai with recitulate. **Disclaimer : I do not know yet if it is working properly.**

So maybe something is actually missing in` fastai::install_fastai(gpu = TRUE)

[2021-04-19 15:00] henry090 commented on #135
Hi. Sorry for the late reply. I reinstalled on my local and it works with Cuda 11 and gpu=T. Could you add a test to fast.ai repo so will see whether the data block works for text or not? Just data loading (not training)

[2021-04-19 15:11] Cdk29 commented on #135
Sure. You can assign me to this.

For the reinstallation, did you uninstall it fully before ?

I did not had any trouble with the computer vision part on kaggle before. So I wonder if the text part does not have something missing for the automatic installation. I will retry to run on of my old Fastai kernel on kaggle to see if this type of problem appear with the computer vision part of the librar

[2021-04-19 15:25] henry090 commented on #135
installation to the new fresh env

[2021-04-19 15:31] henry090 opened #136 "NLP blurr"
Allow NLP module installation only for Linux

[2021-04-20 06:30] Cdk29 commented on #135
I have forked an old kernel which was working fine with fastai, with a xresnet. I got a similar errror, so I guess something changed on the kaggle side.

[2021-04-20 11:12] henry090 commented on #135
I have just added a test and it worked. I cannot find your notebook. Could you share the link, again, please?

[2021-04-20 11:21] Cdk29 commented on #135
The notebook is here : https://www.kaggle.com/cdk292/baseline-ulmfit-fastai-and-r

[2021-04-20 15:17] Cdk29 commented on #135
Now it is tokenize_df() that bothered me when I tried to create a databunch :

`Error in py_call_impl(callable, dots$args, dots$keywords): TypeError: tokenize_df() got an unexpected keyword argument 'res_col_name'`

[2021-04-20 16:04] jesuiskelly commented on #119
Thanks. Yes agreed. Sorry, been snowed under lately. Hope to come back to
this soon.
K

On Sat, Apr 17, 2021 at 11:53 AM Turgut ***@***.***> wrote:

[2021-04-20 16:54] henry090 commented on #135
@Cdk29 I think there might be conflicts with other python packages. Or maybe the python version. I am not sure.

[code]

[2021-04-20 16:56] henry090 commented on #135
@Cdk29 I am using

[code]

[2021-04-20 16:57] Cdk29 commented on #135
Maybe yes :/

I just remember that the fastai textbook mention that they interface with Spacy for the tokenization. Maybe this is missing in the R kernel of kaggle too.

[2021-04-21 08:57] Cdk29 commented on #135
Ahhh I think I got :

https://github.com/fastai/fastai/blob/master/fastai/text/core.py#L211

def tokenize_df(df, text_cols, n_workers=defaults.cpus, rules=None, mark_fields=None,
                tok=None, tok_text_col="text"):

I fastai.

In the R wrapper :

tokenize_df(
  df,
  text_cols,
  n_workers = 6,
  rules = NULL,
  mark_fields = NULL,
  tok = NULL,
  **res_col_name = "text"**
)

I think o

[2021-04-21 12:31] henry090 commented on #135
Please try and let me know or open a PR?

[2021-04-21 12:52] Cdk29 commented on #135
@henry090 I will try it first to see. If it works I will open a PR after I changed my ~/.gitconfig file [as describe here](https://stackoverflow.com/questions/16306012/github-pull-request-showing-commits-that-are-already-in-target-branch.) To avoid all the previous commit to come too.

[2021-04-21 14:09] henry090 commented on #135
@Cdk29 Maybe you will run your code as I do in Colab with miniconda installation??
https://colab.research.google.com/drive/1PiBECDM552No-5apVIB8LqUSdSqqJSi-?usp=sharing

[code]

[2021-04-21 14:43] Cdk29 commented on #135
One day I will have to learn the API to got Kaggle's data to migrate to colab yes.

[2021-04-24 07:19] #136 closed

[2021-04-30 12:37] Cdk29 commented on #135
Hi !
I managed to passed the error by replacing the various occurrences of "res_col_name" by "tok_text_col".

I am still facing errors when trying to build a classifier, but more related to humain error when calling fastai i think.

[2021-05-01 07:50] henry090 commented on #135
Hi, I cannot see the page. Could you paste here the code an error, please?
![Screenshot from 2021-05-01 11-50-00](https://user-images.githubusercontent.com/38523699/116775300-622cdb80-aa73-11eb-9c42-84bea74e104f.png)

[2021-05-01 08:11] Cdk29 commented on #135
Hi ! I have some trouble too with kaggle at the moment.
I managed to got it working this morning on a sub part of the training set.
Yesterday after I solved the issue of "res_col_name" by changing it inside my fork to "tok_text_col" I forgot to remove the "train<-head(train)" that I put to test quicker. Once I put several labels and more than 6 training example in the dataset everything worked as

[2021-05-02 14:13] henry090 commented on #135
Did you try this tutorial? Is it about text summarization?? https://eagerai.github.io/fastai/articles/textsummarize.html
I think this can be helpful however I am not sure. What do you think?

[2021-05-03 07:37] Cdk29 commented on #135
Hi ! The tutorial is nice but not connected to the current issue ^^

I had to replace on my fork variable name such as `res_col_name ` by `tok_text_col ` like here : https://github.com/Cdk29/fastai/commit/974677ad9d63fd4fa642a62583a5ae8b1610947b

This to match the change of variable name in fastai : https://github.com/fastai/fastai/blob/master/fastai/text/core.py#L211

The thing is : what should b

[2021-05-14 18:38] #135 closed

[2021-07-24 13:19] bjoernholzhauer opened #139 "Issues with package in Kaggle"
Thanks again for doing this package. Since you seem to use Kaggle notebooks yourself, do you know what's up with the installed R package that is now part of the standard R Kaggle set-up? I tried a few things and just could not get it to work. It looks to me like the python `fastai` package is missing in the background (I also [posted this on Kaggle](https://www.kaggle.com/product-feedback/254217))

[2021-07-24 17:32] turgut090 commented on #139
Hi. Thanks.
I just fixed some bugs and created notebooks. Please see:
Colab - https://colab.research.google.com/drive/1JDpKnf8RFyeydsZJWHjtFlKujUG925dI?usp=sharing
Kaggle - https://www.kaggle.com/henry090/test-fast-ai-from-r-2-0-9?scriptVersionId=68929439
@bjoernholzhauer

[2021-07-28 13:09] bjoernholzhauer commented on #139
That Kaggle notebook works just fine for me, but the moment I change `library(magrittr)` to `library(tidyverse)` (which would more or less be my default when I'll need lots of the tidyverse packages, anyway), I get this:
[code]
Interestingly, I can load all core tidyverse packages individually without any issue (in case that helps identify what is going on).

[2021-07-29 10:25] turgut090 commented on #139
I reran the session and saw that I cannot reproduce your issue. ```library(tidyverse)``` did not throw any error. fastai from CRAN (not from Github) probably helped.  https://www.kaggle.com/henry090/test-fast-ai-from-r-2-0-9

[2021-07-29 14:12] bjoernholzhauer commented on #139
I can confirm: with the version installing from CRAN the problem has also gone away for me.

[2021-07-30 16:08] turgut090 commented on #139
That's great! We can close this issue, then. Feel free to reopen.

Best,
Turgut

[2021-07-30 16:08] #139 closed

[2021-10-19 15:17] FrsLry opened #141 "Problem using `ImageDataLoaders_from_folder()` on Windows"
Hi,

I am trying to use the `ImageDataLoaders_from_folder()` function. However, I keep having this error message:

[code]

Here is my reprex:

[code]

Am I using incorrectly the function or does it deserve to open an issue?

Best regards

[2021-10-20 08:36] FrsLry commented on #141
It works perfectly now! I didn't realize that I needed to install both the package **and** fastai.

Sorry for the `issue` and thank you for your time 😄

Best regards

[2021-10-20 14:43] srvanderplas opened #142 "IceVision demo in README is incomplete"
The odFridgeObjects.zip file link appears to be broken or have some permission issues.

[code]

Results in this response:

[code]

Visiting the URL manually results in an error as well:
![image](https://user-images.githubusercontent.com/2127125/138105861-bdd14b59-013a-4da1-a23c-49ed149cb2b6.png)

Using this url allows the object to be downloaded:
https://cvbp-secondary.z19.web.core.windows.net/dat

[2021-10-25 15:46] #142 closed, assigned to nobody

[2021-12-31 09:24] oliviergimenez opened #144 "Issue in using fastai w/ GitHub actions?"
First let me say that using fastai with R is just a game changer, many many thanks for dev this package 👏

For a paper in review at the [Computo journal](https://computo.sfds.asso.fr/), I'm using GitHub actions to generate a compiled R Markdown notebook that is published to a gh-page - see [here](https://github.com/oliviergimenez/computo-deeplearning-occupany-lynx/blob/master/dl-occupancy-lynx-pap

[2022-01-04 15:53] turgut090 commented on #144
Hi @oliviergimenez . Thanks for kind words!! =)
Happy New Year, as well@
Please, see my results for Mac OS https://github.com/EagerAI/fastai/runs/4678600620?check_suite_focus=true
The tests passed. Could you take a look and see what is different between our YAML files?

[2022-01-06 12:26] oliviergimenez commented on #144
Hi @turgut090. Thank you so much for your help. Problem solved 🎊  Looking at your yml file helped 👍  In case it's useful, here are the lines of code I used https://github.com/oliviergimenez/computo-deeplearning-occupany-lynx/blob/master/r-addons.R.

[2022-01-06 12:26] #144 closed

[2022-03-05 08:42] MelihOrel opened #146 "Problem with get_image_files( )"
Hi, I am trying to use this function get_image_files( ) but, this error showed up:

`Error: $ operator is invalid for atomic vectors`

I have tried this code for a solution, it's not worked:

`fastai::install_fastai(gpu = FALSE, cuda_version = '10', overwrite = FALSE)
[1] "Fastai is installed!"`

are there any other solutions?

Best regards.

[2022-03-15 04:39] mubashirqasim opened #147 "Installation error"
Hi there,

I am getting the following error when I try to run this part. Any thoughts?

`fastai::install_fastai(gpu = FALSE, cuda_version = '10', overwrite = FALSE)`

r-miniconda/envs/r-reticulate/python.exe" -m pip install --upgrade "torch==1.8.0+cpu torchvision==0.9.0+cpu torchaudio==0.8.0 -f https://download.pytorch.org/whl/torch_stable.html" "IPython" "pydicom" "kornia" "opencv-python" "scikit

[2022-03-15 20:14] turgut090 commented on #147
Hi, AFAIR the issue is related to reticulate.
Please, do the following and try to reinstall fastai.

[code]

[2022-03-15 20:16] turgut090 commented on #146
Hi, sorry for late reply.

Is fastai available in your local?

[code]

Did you follow these steps?

[code]

[2022-03-16 02:47] mubashirqasim commented on #147
Great, it worked... I thought it could not find the specified torch versions.

[2022-03-24 13:25] #146 closed

[2022-04-17 15:58] turgut090 commented on #147
The new CRAN version does not require reticulate downgrade. Thanks

[2022-04-17 15:58] #147 closed